<h3>Crew</h3>
<ul>
  <li *ngFor ="let mate of crew">
    <span *ngIf="mateBeingEdited !== mate; else elseBlock">
      <span (click)="edit(mate)" class="editable-text">{{mate.name}}</span>
      <span *ngIf="mate.firstMission"> - 1st</span>
      <button (click)="remove(mate)">remove</button>
    </span>

    <ng-template #elseBlock>
      <!-- edit state of member -->
      <input #updatedName (keyup.enter)="save(updatedName.value, mate)" value="{{mate.name}}"/>
      <button (click)="save(updatedName.value, mate)">save</button>
   </ng-template>
  </li>
</ul>
<input #name type="text"/>
<label> First mission<input #firstMission type="checkbox"/></label>
<button (click)="add(name.value, firstMission.checked)">Add</button>
